@model CagroLab.Models.Package

<h2>Delete Package</h2>

<h3>Are you sure you want to delete this package?</h3>
<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Package Date</dt>
        <dd>@Model.Package_Date.ToShortDateString()</dd>
        <dt>Description</dt>
        <dd>@Model.Package_Description</dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>

</div>
