@{
    ViewData["Title"] = "Home Page";
}

<section class="hero-section">
    <div class="container d-flex align-items-center justify-content-center
         fs-1 text-white flex-column">

        <div class="row rounded-5 p-3 shadow box-area">
            <div class="col-md-6 right-box">
                <div class="row align-items-md-start align-text:strart" style="text-align: left !important;">
                    <span class="fs-6">
                        For more than 30 years, we’ve worked with organizations of all sizes, in every industry
                    </span>
                    <div class=" mb-3 text-center">
                        <p>Our <span class="highlight-bar">LIMS</span> </p>
                        for all Large & Small Enterprises
                    </div>

                    <span class="fs-6">
                        Thousands of labs all over the world trust us to automate their workflows and execute more efficiently.
                    </span>
                </div>
                <div class="row align-items-md-start align-text:strart" style="text-align: left !important;">
                    &nbsp
                </div>
                <div class="row align-items-md-start align-text:strart" style="text-align: left !important;">
                    &nbsp
                </div>
                <div class="row align-items-md-start align-text:strart" style="text-align: center !important; align-items: center !important;">

                    <a style="margin-left:25% !important; max-width: 50% !important; font-weight: 500; font-size:30px !important;" href="@Url.Action("Login", "Accounts")" class="login-button">Get Started<i class="bi bi-door-open"></i></a>
                    <button  class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>



            <div class="col-md-6 d-flex justify-content-center align-items-center flex-column ">

                <img src="~/images/docktor.png" alt="imaege" class="img-fluid" style="width: 460; height:406">
            </div>
        </div>
    </div>


</section>