@{
    ViewData["Title"] = "SignUp Page";
}


<link href="~/css/signup.css" rel="stylesheet" />
<!--  MAIN Container -->
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <!-- Login -->

    <div class="row border rounded-5 p-3 bg-white shadow box-area">
        <!-- Left -->

        <div class="col-md-6 rounded-3 d-flex justify-content-center align-items-center flex-column left-box" style="background: #21D8B3;">
            <div class="featured-image mb-3">
                <img src="~/images/docktor.png" alt="imaege" class="img-fluid" style="width: 2500px;">
            </div>
            <p class="text-white fs-2" style="font-weight: 600;">
                Welcome
            </p>
            <small class="text-white text-wrap text-center" style="width:17rem">
                to our laboratory system
            </small>
        </div>

        <!-- Right -->

        <div class="col-md-6 right-box">
            <div class="row align-items-center">
                <div class="header-text mb-3" style="text-align: center;">
                    <p>Hello, Again</p>
                    <p>We are happy to have you back</p>
                </div>
                <div class="input-group mb-2">
                    <input type="text" class="form-control form-control-lg bg-light fs-6 " placeholder="Email Address" />
                </div>
                <div class="input-group mb-2">
                    <input type="text" class="form-control form-control-lg bg-light fs-6 " placeholder="Lab name" />
                </div>
                <div class="input-group mb-2">
                    <input type="text" class="form-control form-control-lg bg-light fs-6 " placeholder="Phone number" />
                </div>
                <div class="input-group mb-2">
                    <input type="text" class="form-control form-control-lg bg-light fs-6 " placeholder="Location" />
                </div>
                <div class="input-group mb-2">
                    <input type="text" class="form-control form-control-lg bg-light fs-6 " placeholder="Lab username" />
                </div>
                <div class="input-group mb-2">
                    <input type="password" class="form-control form-control-lg bg-light fs-6 " placeholder="Password" />
                </div>
                <div class="input-group mb-2">
                    <input type="password" class="form-control form-control-lg bg-light fs-6 " placeholder="Confirm Password" />
                </div>

                <div class=" input-group mb-3">
                    <button class="btn-signIn btn btn-lg w-100 fs-6" style="background-color:#21D8B3">Register</button>
                </div>
                <div class="input-group mb-3">
                    <button class="btn btn-lg btn-light w-100 fs-6">
                        <img src="~/images/whatsap.png" alt="" style="width: 20px;">
                        <small class="me-2">Sign In With Google</small>
                    </button>
                </div>
                
            </div>
        </div>
    </div>
</div>
